<div class="card">
  <p-card >
      
      <div class="contact-info">
          <div class="field">Full Name:</div><div class="data"><strong>{{ contact.prenom }} {{ contact.nom }}</strong></div>


          <div class="field">Date of Birth:</div>
          <div class="data">{{ contact.dateNaissance }}</div>

          <div class="field">Sex:</div>
          <div class="data">{{ contact.sexe }}</div>

          <div class="field">Address:</div>
          <div class="data">{{ contact.adresse }}</div>

          <div class="field">City:</div>
          <div class="data">{{ contact.ville }}</div>

          <div class="field">Tel:</div>
          <div class="data">{{ contact.tel }}</div>

          <div class="field">Email:</div>
          <div class="data">{{ contact.email }}</div>
      </div>

      <ng-template pTemplate="footer">
          <div class="button-container">
              <button pButton type="button" label="Edit" icon="pi pi-pencil" class="p-button-warning" (click)="updateContact(contact)"></button>
              <button pButton type="button" label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="confirmDelete(contact.id)"></button>
          </div>
      </ng-template>
  </p-card>
</div>
