<div class="card">
    <p-card [style]="{ width: '300px' }">
      <!-- <ng-template pTemplate="header">
        <img alt="Contact" src="https://example.com/contact-image.jpg" style="width: 100%" />
      </ng-template> -->
      <p>
        <strong>{{ contact.prenom }} {{ contact.nom }}</strong><br />
        <small>{{ contact.dateNaissance }}</small><br />
        <small>{{ contact.sexe }}</small><br />
        <small>{{ contact.adresse }}</small>
        <small>{{ contact.pays }}</small><br />
        <small>{{ contact.ville }}</small><br />
        <small>{{ contact.tel }}</small>
        <small>{{ contact.email }}</small>

      </p>
      <ng-template pTemplate="footer">
        <button pButton type="button" label="Edit" icon="pi pi-pencil" class="p-button-warning" (click)="updateContact(contact)"></button>
        <button pButton type="button" label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="confirmDelete(contact.id)"></button>
      </ng-template>
    </p-card>
  </div>