.card {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;

  form {
    display: flex;
    flex-direction: column;

    .form-group {
      margin-bottom: 15px;

      p-autoComplete,
      p-dropdown,
      .input-group {
        margin-bottom: 15px;
      }

      .input-group {
        display: flex;
        align-items: center;

        input {
          flex: 1;
          box-sizing: border-box;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 14px;
          margin-left: 5px;
        }

        .input-group-addon {
          background-color: #f0f0f0;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-right: 5px;
        }
      }
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
