<div class="card">
  <form>
    <div class="form-group">
      
      <div class="input-group">
        <p-autoComplete  pTooltip="Enter Contact" [(ngModel)]="selectedContact" name="selectedContact" [suggestions]="contactSuggestions" (completeMethod)="searchContact($event)" placeholder="Select Contact"></p-autoComplete>
      </div>
      <div class="input-group">
        <p-dropdown  pTooltip="Select package" [options]="allPackages" [(ngModel)]="selectedPackage" name="selectedPackage" optionLabel="packageName" placeholder="Select Package"></p-dropdown>
      </div>
      <div class="input-group">
        <input pInputNumber  pTooltip="Enter discount" [(ngModel)]="newSubscription.discount" name="discount" placeholder="Discount" style="width: 100px;" />
      </div>

      <div class="input-group">
        <input pInputNumber  pTooltip="Enter number Of Tranches"  [(ngModel)]="numberOfTranches" name="numberOfTranches" placeholder="numberOfTranches" style="width: 200px;" />
      </div>

      <app-payment-tranche [numberOfTranches]="numberOfTranches" [packagePrice]="selectedPackage?.price" [discount]="newSubscription.discount" ></app-payment-tranche>
      
    </div>

    <button pButton type="button" label="Save Subscription" (click)="addNewSubscription()"></button>
  </form>
</div>
