/* Style the input group containing the discount input */
.input-group {
  margin-bottom: 30px;
  margin-top: 30px;

}

/* Style the discount input */
.input-group input[name="discount"],
.input-group input[name="numberOfTranches"] {
  width: 100%; /* Make the inputs take up full width */
  padding: 10px; /* Add padding */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
  font-size: 16px; /* Adjust font size */
}

/* Optionally, you can add hover styles to enhance interactivity */
.input-group input[name="discount"]:hover,
.input-group input[name="numberOfTranches"]:hover {
  border-color: #007bff; /* Change border color on hover */
}
