.sidenav-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 40px;

  .app-logo {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }

  .nav-items {
    padding-top: 40px;
  
    .nav-item {
      padding: 15px 20px;
      cursor: pointer;
      @media only screen and (max-width: 1300px) {
        padding: 15px 15px;
      }
      &:hover {
        background-color: rgb(168, 168, 168);
      }
  
      fa-icon {
        margin-right: 10px; 
        font-size: 18px; 
      }
  
      span {
        display: none;
        @media only screen and (min-width: 1300px) {
          display: inline;
        }
      }
    }
  }
}

