<div class="sidenav-container">
  <img src="assets/images/logo.png" alt="App Logo" class="app-logo">
<div class="nav-items">
    <div routerLink="/dashboard" routerLinkActive="active" class="nav-item">
      <fa-icon [icon]="faDashboard"></fa-icon>
      <span>Dashboard</span>
    </div>
    <div routerLink="/contact" class="nav-item">
      <fa-icon  [icon]="faContactBook"></fa-icon>
      <span>Contacts</span>
    </div>
    <div routerLink="/staff" class="nav-item">
      <fa-icon [icon]="faUsersGear"></fa-icon>
      <span>Staff</span>
    </div>
    <div routerLink="/client" class="nav-item">
      <fa-icon [icon]="faUsers"></fa-icon>
      <span>Clients</span>
    </div>
    <div routerLink="/user" class="nav-item">
      <fa-icon [icon]="faUser"></fa-icon>
      <span>Users</span>
    </div>
    <div routerLink="/role" class="nav-item">
      <fa-icon [icon]="faMasksTheater"></fa-icon>
      <span>Roles</span>
    </div>
    <div routerLink="/package" class="nav-item">
      <fa-icon [icon]="faBox"></fa-icon>
      <span>Packages</span>
    </div>
    <div routerLink="/subscription" class="nav-item">
      <fa-icon [icon]="faIdCard"></fa-icon>
      <span>Subscriptions</span>
    </div>
    <div routerLink="/payment" class="nav-item">
      <fa-icon [icon]="faMoneyBill"></fa-icon>
      <span>Payments</span>
    </div>
    <div routerLink="/observation" class="nav-item">
      <fa-icon [icon]="faFileEdit"></fa-icon>
      <span>Observations</span>
    </div>
  </div>
</div>
