.card {

    .info-section {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 10px;

        .field {
            color: #3498db; // Field name color
            font-weight: bold;
        }

        .data {
            color: #000000; // Data color
        }
    }
}

