<div class="card">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Contact</span>
            </ng-template>
            <div class="info-section">
                <div class="field">Full Name:</div>
                <div class="data">{{ client.contact.nom }} {{ client.contact.prenom }}</div>

                <div class="field">Date of Birth:</div>
                <div class="data">{{ client.contact.dateNaissance }}</div>

                <div class="field">Sex:</div>
                <div class="data">{{ client.contact.sexe }}</div>

                <div class="field">Address:</div>
                <div class="data">{{ client.contact.adresse }}</div>

                <div class="field">City:</div>
                <div class="data">{{ client.contact.ville }}</div>

                <div class="field">Tel:</div>
                <div class="data">{{ client.contact.tel }}</div>

                <div class="field">Email:</div>
                <div class="data">{{ client.contact.email }}</div>
            </div>
        </p-tabPanel>

        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>User Account</span>
            </ng-template>
            <div class="info-section">

                <div class="field">Email:</div>
                <div class="data">{{ client.contact.email }}</div>

                <div class="field">Role:</div>
                <div class="data">{{ client.userAccount.role.rolename }}</div>

            </div>
        </p-tabPanel>
<!-- 
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Subscription</span>
            </ng-template>
            <div class="info-section">
                <div class="field">Package:</div>
                <div class="data">{{ client.subscription.subscribedPackage.packageName }} </div>

                <div class="field">Start Date:</div>
                <div class="data">{{ client.subscription.startDate }}</div>

                <div class="field">End Date:</div>
                <div class="data">{{ client.subscription.endDate }}</div>

                <div class="field">Discount:</div>
                <div class="data">{{ client.subscription.discount }}</div>

                <div class="field">Price After Discount:</div>
                <div class="data">{{ client.subscription.priceAfterDiscount }}</div>

                <div class="field">Status:</div>
                <div class="data">
                    
                        <ng-container *ngIf="client.subscription.status === 'active'; else blockedTag">
                            <p-tag severity="success" value="Active"></p-tag>
                        </ng-container>
                        <ng-template #blockedTag>
                            <p-tag severity="danger" value="blocked"></p-tag>
                        </ng-template>
                    
                </div>
            </div>
        </p-tabPanel> -->
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Subscription</span>
            </ng-template>
        
            <div class="subscription-section">
                <div class="left-section">
                    <button pButton type="button" class="update-button" (click)="updateSubscription()">update subscription</button>
                    <div class="info-section">
                        <div class="field">Package:</div>
                        <div class="data">{{ client.subscription.subscribedPackage.packageName }}</div>
                        <div class="field">Start Date:</div>
                        <div class="data">{{ client.subscription.startDate }}</div>
        
                        <div class="field">End Date:</div>
                        <div class="data">{{ client.subscription.endDate }}</div>
        
                        <div class="field">Discount:</div>
                        <div class="data">{{ client.subscription.discount }}</div>
        
                        <div class="field">Price After Discount:</div>
                        <div class="data">{{ client.subscription.priceAfterDiscount }}</div>
        
                        <div class="field">Status:</div>
                        <div class="data">
                            
                                <ng-container *ngIf="client.subscription.status === 'active'; else blockedTag">
                                    <p-tag severity="success" value="Active"></p-tag>
                                </ng-container>
                                <ng-template #blockedTag>
                                    <p-tag severity="danger" value="blocked"></p-tag>
                                </ng-template>
                            
                        </div>
                    </div>
                </div>
        
                <div class="right-section">
                    <button pButton type="button" class="show-events-button" (click)="showSubscriptionEvents()">Subscription Events</button>
        
                    <div class="subscription-events">


                        <div class="card">
                            <p-table
                                [value]="subscriptionEvents"
                                [paginator]="true"
                                [rows]="5"
                                [showCurrentPageReport]="true"
                                [tableStyle]="{ 'min-width': '45rem' }"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [rowsPerPageOptions]="[5]"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:20%">eventType</th>
                                        <th style="width:20%">eventDate</th>
                                        <th style="width:20%">startDate</th>
                                        <th style="width:20%">endDate</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-event>
                                    <tr>
                                        <td>{{ event.eventType }}</td>
                                        <td>{{ event.eventTimestamp}}</td>
                                        <td>{{ event.startDate }}</td>
                                        <td>{{ event.endDate }}</td>
                                    </tr>
                                </ng-template>
                                
                            </p-table>
                        </div>                    
                    </div>
                </div>
            </div>
        </p-tabPanel>
        

        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Unpaid Tranches</span>
            </ng-template>
            
            <div class="card">
                <p-table  [value]="tranches" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>amount</th>
                            <th>dueDate</th>
                            <th>tranchePaid</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-tranche>
                        <tr *ngIf="!tranche.tranchePaid">
                            
                            <td>{{ tranche.amount }}</td>
                            <td>{{ tranche.dueDate }}</td>
                            <td>{{ tranche.tranchePaid }}</td>
                            <td >
                                <div class="card flex justify-content-center">
                                    <p-button (click)="pay(tranche)" label="Pay"></p-button>
                                </div>
                            </td>               
               
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>

        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Payments</span>
            </ng-template>
            <div class="info-section">
                
                <!-- <div class="card">
                    <p-table [value]="client.subscription.payments" [tableStyle]="{'min-width': '60rem'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="paymentMethod" style="width:20%">paymentMethod <p-sortIcon field="paymentMethod"></p-sortIcon></th>
                                <th pSortableColumn="amount" style="width:20%">amount <p-sortIcon field="amount"></p-sortIcon></th>
                                <th pSortableColumn="paymentDate" style="width:20%">paymentDate <p-sortIcon field="paymentDate"></p-sortIcon></th>
                               
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-payment>
                            <tr>
                                <td>{{payment.paymentMethod}}</td>
                                <td>{{payment.amount}}</td>
                                <td>{{payment.paymentDate}}</td>
                              
                            </tr>
                        </ng-template>
                    </p-table>
                </div> -->

                <div class="card">
                    <p-table
                        [value]="client.subscription.payments"
                        [paginator]="true"
                        [rows]="5"
                        [showCurrentPageReport]="true"
                        [tableStyle]="{ 'min-width': '82rem' }"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[5]"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:20%">paymentMethod</th>
                                <th style="width:20%">amount</th>
                                <th style="width:20%">paymentDate</th>
                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-payment>
                            <tr>
                                <td>{{payment.paymentMethod}}</td>
                                <td>{{payment.amount}}</td>
                                <td>{{payment.paymentDate}}</td>
                
                            </tr>
                        </ng-template>
                    </p-table>
                </div> 

            </div>
        </p-tabPanel>

        <!-- <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Observations</span>
            </ng-template>

            <div class="header">
                <button pButton type="button" icon="pi pi-plus" class="add-button" (click)="addObservation()"></button>
            </div>

            <div class="header">
                <button pButton type="button" icon="pi pi-list" class="show-events-button" (click)="showSubscriptionEvents()">Subscription Events</button>
            </div>
            
            <div class="info-section">
                <div class="card" *ngIf="observations && observations.length > 0">
                    <div class="field">Last Observation Type:</div>
                    <div class="data">
                        {{ observations[observations.length - 1].observationType }}
                    </div>
                    <div class="field">Last Observation Content:</div>
                    <div class="data">
                        {{ observations[observations.length - 1].content }}
                    </div>
                </div>
                <div *ngIf="observations && observations.length === 0">
                    No observations available.
                </div>
            </div>
        </p-tabPanel>   -->
        
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Observations</span>
            </ng-template>
        
            <div class="observation-section">
                <div class="left-section">
                    <button pButton type="button" icon="pi pi-plus" class="add-button" (click)="addObservation()"></button>
                    <div class="info-section">
                        <div class="card" *ngIf="observations && observations.length > 0">
                            <div class="field">Last Observation Type:</div>
                            <div class="data">
                                {{ observations[observations.length - 1].observationType }}
                            </div>
                            <div class="field">Last Observation Content:</div>
                            <div class="data">
                                {{ observations[observations.length - 1].content }}
                            </div>
                        </div>
                        <div *ngIf="observations && observations.length === 0">
                            No observations available.
                        </div>
                    </div>
                </div>
        
                <div class="right-section">
                    <button pButton type="button" icon="pi pi-list" class="show-observations" (click)="showSubscriptionEvents()">All Observations</button>
                    <div class="observations">
                        <div class="card">
                            <p-table
                                [value]="observations"
                                [paginator]="true"
                                [rows]="5"
                                [showCurrentPageReport]="true"
                                [tableStyle]="{ 'min-width': '45rem' }"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [rowsPerPageOptions]="[5]"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:20%">observationType</th>
                                        <th style="width:20%">content</th>
                                        
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-event>
                                    <tr>
                                        <td>{{ event.observationType }}</td>
                                        <td>{{ event.content}}</td>
                        
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div> 
                    </div>
                </div>
            </div>
        </p-tabPanel>
        

        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Visites</span>
            </ng-template>
            <div class="info-section">

            </div>
        </p-tabPanel>  

    </p-tabView>
</div>

