<div class="card">
  
    <form>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <input pInputText pTooltip="Enter your lastname" [(ngModel)]="newContact.nom" name="nom" placeholder="Nom" />
      </div>
  
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <input pInputText pTooltip="Enter your firstname" [(ngModel)]="newContact.prenom" name="prenom" placeholder="Prénom" />
      </div>
  
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-calendar"></i>
        </span>
        <p-calendar pTooltip="Enter your birthday" [(ngModel)]="dateNaissance" name="dateNaissance" [showIcon]="true" placeholder="Date de naissance"></p-calendar>
      </div>
  
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>

        <div class="p-radio">
          <input type="radio" id="male" [(ngModel)]="newContact.sexe" name="sexe" value="homme" />
          <label for="male">Homme</label>
        </div>

        <div class="p-radio">
          <input type="radio" id="female" [(ngModel)]="newContact.sexe" name="sexe" value="femme" />
          <label for="female">Femme</label>
        </div>
      </div>
  
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-map-marker"></i>
        </span>
        <input pInputText pTooltip="Enter your address" [(ngModel)]="newContact.adresse" name="adresse" placeholder="Adresse" />
      </div>
  
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-home"></i>
        </span>
        <input pInputText pTooltip="Enter your zip code" [(ngModel)]="newContact.codePostal" name="codePostal" placeholder="Code Postal" />
      </div>
      
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-building"></i>
        </span>
        <input pInputText pTooltip="Enter your city" [(ngModel)]="newContact.ville" name="ville" placeholder="Ville" />
      </div>
  
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-phone"></i>
        </span>
        <input pInputText pTooltip="Enter your phone number" [(ngModel)]="newContact.tel" name="tel" placeholder="Tel" />
      </div>
  
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-envelope"></i>
        </span>
        <input pInputText pTooltip="Enter your email" [(ngModel)]="newContact.email" name="email" placeholder="Email" />
      </div>
  
      <button pButton type="button" label="Save Contact" (click)=" addNewContact()"></button>

    </form>

  </div>
