.card {
  max-width: 40rem;
  max-height: 70rem;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.p-inputgroup {
  margin-bottom: 15px;
}

.p-inputgroup-addon {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 5px 0 0 5px;
  padding: 0.5rem;
}

input[type='text'],
input[type='email'],
input[type='tel'] {
  width: calc(100% - 34px);
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  padding: 0.5rem;
}

button {
  margin-top: 1%;
  width: 25%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.p-radio {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.p-radio label {
  margin-left: 5px;
}
.error-message {
  color: red;
  font-size: 1em;
}

