.payment-tranche .p-inputgroup {
    margin-right: 10px; /* Adjust margin between input groups */
    margin-bottom: 3px;
  }
  
  .payment-tranche .p-inputgroup .p-inputtext {
    width: 200px; /* Adjust width of the input text */
  }
  