<div class="card">
  <form>
    <div>
      <span style="width: 80%;" class="p-fluid">
        <p-dropdown pTooltip="Sélectionnez le forfait" [disabled]="isPackageDisabled" [options]="allPackages" [(ngModel)]="selectedPackage" name="selectedPackage" optionLabel="packageName"></p-dropdown>
      </span>
      <p-inputSwitch [(ngModel)]="isPackageDisabled" name="isPackageDisabled"></p-inputSwitch>

    </div>

    <div  class="input-group">
      <input style="width: 25%;" [disabled]="isDiscountDisabled" pInputNumber pTooltip="Entrez la remise" [(ngModel)]="subscriptionToUpdate.discount" name="discount" placeholder="Discount" />
      <p-inputSwitch [(ngModel)]="isDiscountDisabled" name="isDiscountDisabled"></p-inputSwitch>

    </div>

    <div  class="p-inputgroup">
      <div  class="p-radio">
        <input [disabled]="isStatusDisabled" type="radio" id="active" [(ngModel)]="subscriptionToUpdate.status" name="status" value="active" />
        <label for="active">ACTIVE</label>
      </div>
      <div class="p-radio">
        <input [disabled]="isStatusDisabled" type="radio" id="blocked" [(ngModel)]="subscriptionToUpdate.status" name="status" value="blocked" />
        <label for="blocked">BLOCKED</label>
      </div>
      <p-inputSwitch [(ngModel)]="isStatusDisabled" name="isStatusDisabled"></p-inputSwitch>

    </div>

    <div  class="input-group">
      <input style="width: 25%;" [disabled]="isNumberOfTranchesDisabled" pInputNumber pTooltip="Saisissez le nombre de tranches" [(ngModel)]="numberOfTranches" name="numberOfTranches" placeholder="Saisissez le nombre de tranches" />
      <p-inputSwitch [(ngModel)]="isNumberOfTranchesDisabled" name="isNumberOfTranchesDisabled"></p-inputSwitch>

    </div>

    <app-payment-tranche [numberOfTranches]="numberOfTranches"></app-payment-tranche>
    
    <button pButton type="button" label="Sauvegarder" (click)="confirmUpdate()"></button>
  </form>
</div>
