.card {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  // border-radius: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  height: 100%;

}

.form-group {
  margin-bottom: 3px;
}

.p-inputgroup {
  margin-bottom: 3px;
}

.p-inputgroup-addon {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px;
}

input[type='text'] {
  width: calc(100% - 42px);
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333333;
}

button {
  margin-top: 1%;
  width: 25%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

