<div class="card">  
    <form>
      <!-- Nom -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <input pInputText [(ngModel)]="contactToUpdate.nom" name="nom" placeholder="Nom" />
      </div>
  
      <!-- Prenom -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <input pInputText [(ngModel)]="contactToUpdate.prenom" name="prenom" placeholder="Prenom" />
      </div>
  
      <!-- Date de Naissance -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-calendar"></i>
        </span>
        <input pInputText [(ngModel)]="contactToUpdate.dateNaissance" name="dateNaissance" placeholder="Date de Naissance" />
      </div>
  
      <!-- Sexe -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <input pInputText [(ngModel)]="contactToUpdate.sexe" name="sexe" placeholder="Sexe" />
      </div>
  
      <!-- Adresse -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-map-marker"></i>
        </span>
        <input pInputText [(ngModel)]="contactToUpdate.adresse" name="adresse" placeholder="Adresse" />
      </div>
  
      <!-- Code Postal -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-home"></i>
        </span>
        <input pInputText [(ngModel)]="contactToUpdate.codePostal" name="codePostal" placeholder="Code Postal" />
      </div>
  
      <!-- Pays -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-globe"></i>
        </span>
        <input pInputText [(ngModel)]="contactToUpdate.pays" name="pays" placeholder="Pays" />
      </div>
  
      <!-- Ville -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-building"></i>
        </span>
        <input pInputText [(ngModel)]="contactToUpdate.ville" name="ville" placeholder="Ville" />
      </div>
  
      <!-- Tel -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-phone"></i>
        </span>
        <input pInputText [(ngModel)]="contactToUpdate.tel" name="tel" placeholder="Tel" />
      </div>
  
      <!-- Email -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-envelope"></i>
        </span>
        <input pInputText [(ngModel)]="contactToUpdate.email" name="email" placeholder="Email" />
      </div>
  
      <!-- Button to Save Contact -->
      <button pButton type="button" label="Save Contact" (click)=" confirmUpdate()"></button>

    </form>
  </div>
 