<div class="card">
    <form>
      <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col">
          <label for="amount">Montant</label>
          {{payment.amount}}
        </div>
  
        <div class="p-field p-col">
          <p-dropdown [options]="paymentMethods" name="paymentMethod" [(ngModel)]="payment.paymentMethod" 
          optionLabel="label" placeholder="Sélectionnez la méthode de paiement" (ngModelChange)="onPaymentMethodChange($event)"></p-dropdown>
        </div>
        <div *ngIf="selectedPaymentMetohd === 'CASH'">
          <app-cash-payment [client]="client"  [payment]="payment" ></app-cash-payment>
        </div>

        <app-check-payment [client]="client" [payment]="payment" *ngIf="selectedPaymentMetohd === 'CHECK'"></app-check-payment>

        <app-card-payment [client]="client" [payment]="payment" *ngIf="selectedPaymentMetohd === 'CARD'"></app-card-payment>
       
      </div>

    </form>
  </div>

  