<div class="card">
  
  <form>

      <div class="card flex justify-content-center">
        <p-autoComplete [(ngModel)]="selectedContact" name="selectedContact" [suggestions]="contactSuggestions" (completeMethod)="search($event)"></p-autoComplete>
        <p-dropdown [options]="allRoles" [(ngModel)]="selectedRole" name="selectedRole" optionLabel="rolename"></p-dropdown>

      </div>
  
      <button pButton type="button" label="Save Staff" (click)=" addNewStaff()"></button>

    </form>
    
  </div>
  