.card {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  // border-radius: 10px;
  box-shadow: 0 0 100% rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  height: 100%;

}

.form-group {
  margin-bottom: 20px;
}

.p-autoComplete,
.p-dropdown {
  width: 100%;
}
.input{
  margin-top: 1rem;
}

button {
  margin-top: 1%;
  width: 25%;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
