<div id="pdf-content" class="invoice-container">
    <div class="invoice-header">
      <img src="assets/images/logo.png" alt="Company Logo" class="logo">
      <div class="line-break"></div>
      <div class="client-info">
        <h2>Informations client</h2>
        <p><strong>Nom:</strong> {{contact.nom}} {{contact.prenom}}</p>
        <p><strong>Email:</strong> {{contact.email}}</p>
        <p><strong>Adresse:</strong> {{contact.adresse}}  {{contact.ville}}</p>
        <p><strong>Téléphone:</strong> {{contact.tel}}</p>
      </div>
    </div>
    <hr>
    <div class="invoice-body">
      <div class="invoice-details">
        <h2>Détails de la facture</h2>
        <p><strong>Numéro de facture:</strong> FACT-{{payment.paymentTranche.id}}</p>
        <p><strong>Date:</strong> {{payment.paymentDate}}</p>
      </div>
      <table class="invoice-table">
        <thead>
          <tr>
            <th>Forfait</th>
            <th>Mode de paiement</th>
            <th>Prix(DH)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{subscription.subscribedPackage.packageName}}</td>
            <td>{{payment.paymentMethod}}</td>
            <td>{{this.payment.amount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div class="invoice-footer">
      <p><strong>Total:</strong>{{this.payment.amount}}DH</p>
      <div class="company-info">
        <p>Fake Company Name</p>
        <p>123 Business Street, Citytown</p>
        <p>Email: info@fakecompany.com</p>
        <p>Phone: 555-123-4567</p>
      </div>
    </div>
  </div>
  