<div class="card">
  
    <form>

      <div class="input-group">
        <span class="p-fluid">
          <p-autoComplete pTooltip="Saisissez le nom du client" [(ngModel)]="selectedClient" name="selectedClient" [suggestions]="clientSuggestions" (completeMethod)="search($event)" placeholder="Sélectionnez le client"></p-autoComplete>
        </span>  
      </div>

      <div style="margin-top: 1rem;" class="input-group">
        <span class="p-fluid">
          <p-dropdown [options]="observationTypes" [(ngModel)]="selectedObservationType" name="selectedObservationType" optionLabel="name" placeholder="Choisir le type d'observation"></p-dropdown>
        </span>
      </div>

      <div style="margin-top: 1rem;" class="p-inputgroup">
        <textarea rows="5" cols="100" pInputTextarea [(ngModel)]="newObservation.content" name="content" placeholder="Contenu"></textarea>
      </div>

      <button pButton type="button" label="Sauvegarder" (click)=" addNewObservation()"></button>

    </form>
    
  </div>
  