<div class="role-card">
  <h2>Add New Role</h2>
  <form>
    <div class="input-group">
      <input pInputText [(ngModel)]="newRole.rolename" name="rolename" placeholder="Role Name" />
    </div>

    <div *ngFor="let authority of authorities" class="checkbox">
      <p-checkbox name="group1" [value]="authority.value" [(ngModel)]="selectedAuthorities" [inputId]="authority.id"></p-checkbox>
      <label [for]="authority.id">{{ authority.label }}</label>
    </div>

    <button pButton type="button" label="Save Role" (click)="addNewRole()"></button>
  </form>
</div>
