<div class="p-inputgroup">
    <span class="p-inputgroup-addon">
      <i class="pi pi-book"></i>
    </span>
    <input pInputText pTooltip="Saisissez le numéro de la carte" [(ngModel)]="cardPayment.cardNumber" name="cardNumber" placeholder="Saisissez le numéro de la carte" />
</div>

<div class="p-inputgroup">
    <span class="p-inputgroup-addon">
      <i class="pi pi-book"></i>
    </span>
    <input pInputText pTooltip="Saisissez CVV" [(ngModel)]="cardPayment.cardCVV" name="cardCVV" placeholder="CVV" />
  
</div>

<div class="p-inputgroup">
    <span class="p-inputgroup-addon">
      <i class="pi pi-book"></i>
    </span>
    <input pInputText pTooltip="Saisissez la date d'expiration de la carte" [(ngModel)]="cardPayment.cardExpirationDate" name="cardExpirationDate" placeholder="Date d'expiration de la carte" />
</div>



<button pButton type="button" label="Créer un paiement" (click)="createCardPayment()"></button>
