<div class="card">
  
    <form>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <input pInputText [(ngModel)]="newPackage.packageName" name="packageName" placeholder="Nom de package" />
      </div>
  
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <input pInputNumber  [(ngModel)]="newPackage.price" name="price" placeholder="Prix" />
      </div>
  
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-map-marker"></i>
        </span>
        <input pInputText [(ngModel)]="newPackage.description" name="description" placeholder="Description" />
      </div>
  
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-home"></i>
        </span>
        <input pInputNumber  [(ngModel)]="newPackage.durationInMonths" name="durationInMonths" placeholder="durée en mois" />
      </div>
  
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-globe"></i>
        </span>
        <input pInputText [(ngModel)]="newPackage.paymentType" name="paymentType" placeholder="Type de payment" />
      </div>
  
      <button pButton type="button" label="Save Package" (click)=" addNewPackage()"></button>

    </form>
  </div>
  