.card {
    max-width: 50rem;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    height: 45rem;
  
    h2 {
      text-align: center;
      color: #333;
      margin-bottom: 20px;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      .p-inputgroup {
        margin-bottom: 15px;
  
        input {
          width: 100%;
          box-sizing: border-box;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 14px;
        }
  
        .p-inputgroup-addon {
          background-color: #f0f0f0;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-right: 5px;
        }
      }
  
      button {
        margin-top: 50%;
        width: 25%;
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  