
<div class="card">
    <p-table
        #dt1
        [value]="payments"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="[]"
        [resizableColumns]="true" 
        columnResizeMode="expand" 
        styleClass="p-datatable-gridlines"
        [tableStyle]="{'min-width': '100rem'}"
        >
        <ng-template pTemplate="caption">
            
            <div class="flex">
                <span >
                    <input pInputText  type="text" (input)="dt1.filterGlobal(applyFilterGlobal($event), 'contains')" placeholder="Search keyword" />
                </span>
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            
            </div>
            
        </ng-template>
        <ng-template pTemplate="header">
            <tr>

                <th style="min-width:30rem">
                    <div class="flex align-items-center">
                        paymentMethod
                        <p-columnFilter type="text" field="paymentMethod" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th style="min-width:30rem">
                    <div class="flex align-items-center">
                        paymentDate
                        <p-columnFilter type="text" field="paymentDate" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th style="min-width:30rem">
                    <div class="flex align-items-center">
                        amount
                        <p-columnFilter type="numeric" field="amount" display="menu"></p-columnFilter>
                    </div>
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-payment>
            <tr >
                <td >
                    {{ payment.paymentMethod }} 

                </td>

                <td>
                    {{ payment.paymentDate }}
                </td>

                <td>
                    {{ payment.amount }}
                </td>

                <td>
                    <button pButton type="button"  icon="pi pi-download" (click)="printInvoice(payment)"></button>
                </td>

                <!-- <td>
                    <button pButton type="button"  icon="pi pi-trash" (click)="confirmDelete(payment.id)"></button>
                </td> -->
           
                
            </tr>
        </ng-template>
        
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No payments found.</td>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="paginatorleft">
            <p-button (click)="show()" type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template> -->
        
    </p-table>
</div>
